<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>selected pal</title>
</head>
<body>
    <table>
        <tr>
            <th>팰 번호</th>
            <th>팰 이름</th>
            <th>팰 속성</th>
            <th>팰 등급</th>
        </tr>
        <tr>
            <td th:text="${ monster.palNo }"></td>
            <td th:text="${ monster.palName }"></td>
            <td th:text="${ monster.palType }"></td>
            <td th:text="${ monster.palGrade }"></td>
        </tr>
    </table>
</body>
</html>