<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <h1>👹 PocketPal 👾</h1>

    <button onclick="location.href='/monster/13'">특정 팰 목록 보기</button>
    <button onclick="location.href='/monster/list'">팰 전제 목록 보기</button>

    <button onclick="location.href='/monster/querymethod'">쿼리 메소드 테스트</button>

    <button onclick="location.href='/monster/regist'">팰 등록하기</button>
    <button onclick="location.href='/monster/modify'">팰 수정하기</button>
    <button onclick="location.href='/monster/delete'">팰 삭제하기</button>

</body>
</html>